:root {
  --primary-color: #2d0842eb;
  --primary-color-rgb: 4, 8, 54;

  --secondary-color: #ff4191;
  --secondary-color-2: #FF0099;
  --secondary-color-rgb: 144, 26, 236;
  --secondary-color-rgb-2: 219, 121, 246;
}